<div class="container">
   <mat-card>
        <form #empresaForm="ngForm" (ngSubmit)="save(empresa.id, empresaForm)">
          <div class="form-group">
              <label for="cnpj">CNPJ</label>
              <input type="number" class="form-control" id="cnpj" [(ngModel)]="empresa.cnpj" aia-describedby="cnpjHelp" placeholder="" name = "cnpj">
              <small id="cnpjHelp" class="form-text text-muted">Nome generico</small>
          </div>
          <div class="form-group">
              <label for="nomeFantasia">Nome Fantasia</label>
              <input type="text" class="form-control" id="nomeFantasia" [(ngModel)]="empresa.nomeFantasia" aia-describedby="nomeHelp" placeholder="" name = "nomeFantasia">
              <small id="nomeHelp" class="form-text text-muted">Nome generico</small>
          </div>
          <div class="form-group">
              <label for="razaoSocial">Razao Social</label>
              <input type="text" class="form-control" id="razaoSocial" [(ngModel)]="empresa.razaoSocial" aia-describedby="nomeHelp" placeholder="" name = "razaoSocial">
              <small id="razaoSocialHelp" class="form-text text-muted">Nome generico</small>
          </div>
          <div class="form-group">
              <label for="rede">Rede</label>
              <input type="text" class="form-control" id="rede" [(ngModel)]="empresa.rede" aia-describedby="redeHelp" placeholder="" name = "rede">
              <small id="redeHelp" class="form-text text-muted">Nome generico</small>
          </div>
          <div class="form-group">
              <label for="cidade">Cidade</label>
              <input type="text" class="form-control" id="cidade" [(ngModel)]="empresa.cidade" aia-describedby="cidadeHelp" placeholder="" name = "cidade">
              <small id="cidadeHelp" class="form-text text-muted">Nome generico</small>
          </div>
          <div class="form-group">
              <label for="cidade">UF</label>
              <input type="text" class="form-control" id="uf" [(ngModel)]="empresa.uf" aia-describedby="ufHelp" placeholder="" name = "uf">
              <small id="ufHelp" class="form-text text-muted">Nome generico</small>
          </div>
          <div class="form-group">
            <label for="representante">Representante</label>
            <select class="form-control" id="representante" required>
                <option *ngFor="let representante of representantes" [value]="representante">{{representante.ga}}</option>
            </select>
            </div>
          <button type="submit" class="btn btn-primary" [disabled]="!empresaForm.form.valid">Salvar</button>
          <button type="button" class="btn btn-warning" (click)="remove(empresa)" *ngIf="empresa.id">Excluir</button>
          <button type="submit" class="btn btn-default" [routerLink]="['/empresa']">Voltar</button>
        </form>
    </mat-card>
</div>