<div class="container-fluid">
        
    <form class="form-inline">
        <div class="form-group">
            <input class="form-control" type="text" matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2 btn-sm" [routerLink]="['add-empresa']">Adicionar Empresa</button>
        </div>
    </form>
    
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="cnpj">
            <mat-header-cell *matHeaderCellDef>CNPJ</mat-header-cell>
            <mat-cell *matCellDef="let empresa"> {{empresa.cnpj}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="razaoSocial">
            <mat-header-cell *matHeaderCellDef> Razão Social </mat-header-cell>
            <mat-cell *matCellDef="let empresa"> {{empresa.razaoSocial}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nomeFantasia">
            <mat-header-cell *matHeaderCellDef> Nome Fantasia </mat-header-cell>
            <mat-cell *matCellDef="let empresa"> {{empresa.nomeFantasia}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="rede">
            <mat-header-cell *matHeaderCellDef> Rede </mat-header-cell>
            <mat-cell *matCellDef="let empresa"> {{empresa.rede}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cidade">
            <mat-header-cell *matHeaderCellDef> Cidade </mat-header-cell>
            <mat-cell *matCellDef="let empresa"> {{empresa.cidade}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="uf">
            <mat-header-cell *matHeaderCellDef> UF </mat-header-cell>
            <mat-cell *matCellDef="let empresa"> {{empresa.uf}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acao">
            <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
            <mat-cell *matCellDef="let empresa">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm" [routerLink]="['edit-empresa', empresa.id]">Editar</button>
                    <button type="button" class="btn btn-warning btn-sm" (click)="remove(empresa)">Excluir</button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
             [pageSize]="7"
             [pageSizeOptions]="[5, 10, 20]"
             [showFirstLastButtons]="true">
    </mat-paginator>
</div>