<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h3>Empresas</h3>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Estado: </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
