<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" routerLink="upload" routerLinkActive="active" role="tab">Upload</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="visualize" routerLinkActive="active" role="tab">Visualizar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="export" routerLinkActive="active" role="tab">Exportar</a>
    </li>
</ul>

<router-outlet></router-outlet>
