<div class="container">
    <mat-card>
         <form #representanteForm="ngForm" (ngSubmit)="save(representante.id, representanteForm)">
           <div class="form-group">
               <label for="grc">GRC</label>
               <input type="text" class="form-control" id="grc" [(ngModel)]="representante.grc" aia-describedby="grcHelp" placeholder="" name = "grc">
               <small id="grcHelp" class="form-text text-muted">Nome generico</small>
           </div>
           <div class="form-group">
               <label for="ga">GA</label>
               <input type="text" class="form-control" id="ga" [(ngModel)]="representante.ga" aia-describedby="gaHelp" placeholder="" name = "ga">
               <small id="gaHelp" class="form-text text-muted">Nome generico</small>
           </div>
           <div class="form-group">
               <label for="regional">Regional</label>
               <input type="text" class="form-control" id="regional" [(ngModel)]="representante.regional" aia-describedby="representanteHelp" placeholder="" name = "regional">
               <small id="representanteHelp" class="form-text text-muted">Nome generico</small>
           </div>
           <button type="submit" class="btn btn-primary" [disabled]="!representanteForm.form.valid">Salvar</button>
           <button type="button" class="btn btn-warning" (click)="remove(representante)" *ngIf="representante.id">Excluir</button>
           <button type="submit" class="btn btn-default" [routerLink]="['/representante']">Voltar</button>
         </form>
     </mat-card>
 </div>