<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">JDJ-ONE</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="novidades">Novidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">Manual</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mais</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

        </ul>
        <!-- Links -->
        <form class="form-inline">
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">
            </div>
        </form>
        <button type="submit" class="btn btn-danger btn-sm" (click)="logout()" *ngIf="auth.isLoggedIn">Logout</button>
    </div>
    <!-- Collapsible content -->
</nav>
<br>
<br>
<br>
<!--/.Navbar-->
<!-- Main -->
<main>
    <div class="row corpo">
        <div class="col-md-2" >
                <div class="sidenav" *ngIf="router.url != '/login' && auth.isLoggedIn">
                        <div class="list-group">
                                <div class="card">
                                    <a class="list-group-item list-group-item-primary" data-toggle="tab" routerLink="painel" role="tab">Painel
                                      <i class="fa fa-file-text ml-2"></i>
                                    </a>
                                </div>
                                <div class="card">
                                    <a class="list-group-item list-group-item-primary" data-toggle="tab" routerLink="relatorio" role="tab">Relatórios
                                      <i class="fa fa-file-text ml-2"></i>
                                    </a>
                                </div>
                                <div class="card">
                                    <a class="list-group-item list-group-item-primary" data-toggle="tab" routerLink="home/empresa" role="tab">Dados gerais
                                      <i class="fa fa-address-card ml-2"></i>
                                    </a>
                                </div>
                                <div class="card">
                                    <a class="list-group-item list-group-item-primary" data-toggle="tab" routerLink="file" role="tab">Uploads
                                      <i class="fa fa-upload ml-2"></i>
                                    </a>
                                </div>
                        </div>
                    </div>
        </div>
        <ng-template  [ngIf]="router.url != '/login' && auth.isLoggedIn" [ngIfElse]="home" >
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
        </ng-template>
        <ng-template #home>
                <div class="col-md-8">
                    <router-outlet></router-outlet>
                </div>
        </ng-template>
    </div>
</main>

<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4 bottom">
    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">JDJ-ONE</h5>
                <p>Sistema de gerenciamento de dados.</p>
            </div>
            <!--/.First column-->
            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://jdjone-ws.herokuapp.com/">API</a>
                    </li>
                    <li>
                        <a href="https://google.com/">APP</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> MDBootstrap.com </a>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
                      