<div class="container-fluid">
        
    <form class="form-inline">
        <div class="form-group">
            <input type="text" matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2 btn-sm" [routerLink]="['add-representante']">Adicionar Representante</button>
        </div>
    </form>
    
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let representante"> {{representante.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="grc">
            <mat-header-cell *matHeaderCellDef> GRC </mat-header-cell>
            <mat-cell *matCellDef="let representante"> {{representante.grc}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ga">
            <mat-header-cell *matHeaderCellDef> GA </mat-header-cell>
            <mat-cell *matCellDef="let representante"> {{representante.ga}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="regional">
            <mat-header-cell *matHeaderCellDef> Regional </mat-header-cell>
            <mat-cell *matCellDef="let representante"> {{representante.regional}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="empresas">
            <mat-header-cell *matHeaderCellDef> Empresas </mat-header-cell>
            <mat-cell *matCellDef="let representante"> {{empresa.empresas}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acao">
            <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
            <mat-cell *matCellDef="let representante">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm" [routerLink]="['edit-representante', representante.id]">Editar</button>
                    <button type="button" class="btn btn-warning btn-sm" (click)="remove(representante)">Excluir</button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
             [pageSize]="10"
             [pageSizeOptions]="[5, 10, 20]"
             [showFirstLastButtons]="true">
    </mat-paginator>
</div>