<div class="jumbotron">
    <h1 class="display-5">Login</h1>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="loginAuth.email" name="email" aria-describedby="emailHelp" placeholder="Digite seu email">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha" [(ngModel)]="loginAuth.senha" name="senha" placeholder="Digite sua senha">
                        </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="lembrar">
                        <label class="form-check-label" for="exampleCheck1">Salvar senha</label>
                    </div>
                    <button type="submit" class="btn btn-primary" *ngIf="!auth.isLoggedIn">Entrar</button>
                </form>
            </div>
            <div class="col-md-4 mb-r center-on-small-only">
                <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
            </div>
        </div>
    </div>
</div>