<div class="container-fluid">
        
    <form class="form-inline">
        <div class="form-group">
            <input type="text" matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2 btn-sm" [routerLink]="['add-analitico']">Adicionar Analitico</button>
        </div>
    </form>
    
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let analitico"> {{analitico.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mes">
            <mat-header-cell *matHeaderCellDef> Mês </mat-header-cell>
            <mat-cell *matCellDef="let analitico"> {{analitico.mes}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ano">
            <mat-header-cell *matHeaderCellDef> Ano </mat-header-cell>
            <mat-cell *matCellDef="let analitico"> {{analitico.ano}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="analitico.empresa.nomeFantasia">
            <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
            <mat-cell *matCellDef="let analitico"> {{analitico.empresa.nomeFantasia}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="analitico.faturamento.id">
            <mat-header-cell *matHeaderCellDef> Faturamento </mat-header-cell>
            <mat-cell *matCellDef="let analitico"> {{analitico.faturamento.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acao">
            <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
            <mat-cell *matCellDef="let analitico">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm" [routerLink]="['view-analitico', analitico.id]">ver</button>
                    <button type="button" class="btn btn-warning btn-sm" (click)="remove(analitico)">Excluir</button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
             [pageSize]="10"
             [pageSizeOptions]="[5, 10, 20]"
             [showFirstLastButtons]="true">
    </mat-paginator>
</div>