<div class="container">
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <div class="row">
            <div class="col-md-2">
              <label for="mesRef">Mês</label>
            </div>
            <div class="col-md-8">
              <select id="mesRef" class="form-control">
      
              </select>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="row">
            <div class="col-md-2">
              <label for="AnoRef">Ano</label>
            </div>
            <div class="col-md-4">
              <select id="anoRef" class="form-control">
                  
              </select>  
            </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-upload"></span> Buscar
                  </button>
                </div>
          </div>
        </div>
      </div>
    </form>
  <div class="row header-section">
      <div class="col-md-3">
          <h5>Representante</h5>
      </div>
      <div class="col-md-9" style="margin-bottom: 40px">
        <h5>Relatorios disponiveis</h5>
      </div>
  </div>
  <div class="row">
    <p>Quantidade de arquivos: {{ uploader?.queue?.length }}</p>
   
    <table class="table">
        <thead>
        <tr>
            <th width="50%">Nome</th>
            <th>Tamanho</th>
            <th>Progresso</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td>
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
                <button type="button" class="btn btn-success btn-sm"
                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Download
                </button>
                <button type="button" class="btn btn-warning btn-sm"
                        (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button type="button" class="btn btn-danger btn-sm"
                        (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
            <div>
                Progresso:
                <div class="progress" style="">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Download all
            </button>
            <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>
  </div>
</div>