<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" routerLink="empresa" routerLinkActive="active" role="tab">Empresas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="representante" routerLinkActive="active" role="tab">Representantes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="analitico" routerLinkActive="active" role="tab">Analítico</a>
    </li>
</ul>


<router-outlet></router-outlet>