.my-drop-zone { border: dotted 3px lightgray; width: 200px; height: 150px; text-align: center; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
input[type='file'] {
        display: none
      }
      
.input-wrapper label {
        background-color: #3498db;
        border-radius: 5px;
        color: #fff;
        margin: 10px;
        padding: 6px 20px
}
      
.input-wrapper label:hover {
        background-color: #2980b9
}     
html, body { height: 100%; }