<div class="container">
    <div class="row header-section">
        <div class="col-md-3">
            <div ng2FileDrop
                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                    (fileOver)="fileOverBase($event)"
                    [uploader]="uploader"
                    class="well my-drop-zone">
                    Jogue o arquivo
            </div>
            <div class="input-wrapper">
                <label for='input-file'>Buscar arquivo</label>
                <input type="file" ng2FileSelect [uploader]="uploader" id="input-file"/>
                <span id="file-name"></span>
            </div>
        </div>
        <div class="col-md-9" style="margin-bottom: 40px">
                <p>Quantidade de arquivos: {{ uploader?.queue?.length }}</p>
     
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Nome</th>
                        <th>Tamanho</th>
                        <th>Progresso</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td>
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-sm"
                                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-sm"
                                    (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-sm"
                                    (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                        <div>
                            Progresso:
                            <div class="progress" style="">
                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s"
                                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s"
                                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s"
                                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>
        </div>
    </div>
    <!--<hr class="my-4">
    <div class="row">
        <div class="col-md-10">
            <div class="row card">
                <div class="col-md-6">
                    <h5>Importe um arquivo *.xls</h5>
                    <label class="btn btn-info" height="200">
                        <input class="form-control" type="file" (change)="selectFile($event)">
                        <button class="btn btn-success" [disabled]="!selectedFiles"
                        (click)="upload()">Upload</button>
                    </label>                
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h5>Espaço não aproveitado</h5>
        </div>
        <br>
    </div>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-10">
            <div *ngIf="currentFileUpload" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                    aria-valuemin="0" aria-valuemax="100"
                    [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%</div>
            </div>
        </div>
    </div>
</div>-->